<!DOCTYPE html>
<html>
<head>
    <style>
        .menubar {
            border: 1px solid black;
            overflow: hidden;
        }
        
        .menubar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .menubar li {
            float: left;
            margin-right: 10px;
        }
        
        .menubar li a {
            display: block;
            padding: 8px 16px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="menubar" style="border: 1px solid black; overflow: hidden;">
    <ul>
        <li style="float: left;"><a href="/">Back</a></li>
    </ul>
</div>

<p>
    File not supported
</p>
</body>
</html>